
/* styling for index.html */
#indexBody {
    background: url(../images/the_thinker_color.jpg) no-repeat; 
    background-size: cover;
}

.textShadow {
    text-shadow: 0.125rem 0.125rem grey;
}

.textShadowNone {
    text-shadow: none;
}

.jumboParagraph {
    font-size: 3rem;
}

.cardBackground {
    background-color: #201f1f88
}

/* end of styling for index.html */